@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css");
:root {
	--palleteMain: #04142b;
	--palleteAccentHeavy: #f0ad18;
	--palleteAccentLight: #f0ce12;
	--palleteLight: white;
}
body {
	background-color: var(--palleteMain);
	color: var(--palleteLight);
}
textarea {
	background-color: var(--palleteLight);
}
.Barrio {
	width: 100px;
	height: 17px;
	border: 2px double var(--palleteLight);
	display: inline-block;
	appearance: unset;
}
.select-wrapper {
	margin: 0px;
}
.select-wrapper::after {
  content: "\f063";
	color: #fff;
  font-family: FontAwesome !;
	display: inline-block;
	/* right: 20px;
	top: 15px; */
	pointer-events: none;
  background-color: var(--palleteAccentHeavy);
	/* position: absolute; */
	padding: 0em;
	margin: 0px;
}
.default_input {
	border: none;
	border-bottom: 1px solid;
	border-color: var(--palleteAccentHeavy);
	background-color: var(--palleteLight);
}
