:root{
  --primary_color:#f4c35c ;
  --secondary_color:#f5ae11;
  --background_color: firebrick;
  --background_dark: #282c34;
}

.App {
  display: flex;
  text-align: center;
  color: white;
  background-color: var(--background_dark);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.con-amors {
  display: flex;
  align-items: center;
}

.App-logo-pequenio {
  display: inline;
  padding: 0;
  margin: 0;
  height: 5rem;
  pointer-events: none;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button_like_logo {
  background-color: var(--background_dark);
  border-radius: 0.5rem;

  height: min-content;
  flex:1;
}
.sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--primary_color);
  margin: 0px;
  padding: 0.5rem;
  max-width: 2rem;
  border-radius: 0px 0.5rem 0.5rem 0px;
  justify-content: space-between;
}
.sidebar_ul{
  display: flex;
  padding: 0px;
  gap: 0.35rem;
  flex-direction: column;
  list-style: none;

}
.sidebar_btn,
.sidebar_btn_2 {
  color: white;
  padding: 0.25rem;
  border: none;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  align-content: center;
  justify-content: center;
  transition: ease-in-out background-color 50ms;
}
.sidebar_btn{
  background-color: var(--secondary_color);
}
.sidebar_btn_2{
  background-color: transparent;
}
.sidebar_btn:hover,
.sidebar_btn_2:hover,
.formBtn:hover{
  background-color: var(--background_color);
}
.sidebar_btn:active,
.sidebar_btn_2:active,
.formBtn:active {
  background-color: black;
}
.sidebar_li_icon{
  width: 100%;
  height: 100%;
}
.Editor {
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
}
.loginForm {
  display: flex;
  flex-flow: column;
}
.formBtn {
  background-color: var(--secondary_color);
  color: white;
  font-weight: bold;
  padding: 0.25rem;
  border: none;
  border-radius: 0.5rem;
  align-content: center;
  justify-content: center;
  transition: ease-in-out background-color 50ms;
}

.editorPedidos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-basis: max-content;
    padding: 2rem;
}
.PedidoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-all;
    color: black;
    background: var(--primary_color);
    background: linear-gradient(180deg, var(--primary_color) 0%, var(--secondary_color) 100%);
    padding: 1rem;
    box-shadow: 3px 5px 5px rgb(0 0 0 / 25%);
    flex: auto;
    min-height: 100px;
}
.PedidoBoxButtons {
    display: flex;
    color: white;
    padding: 0px;
    gap: 0.35rem;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    margin-bottom: 1rem;
    justify-content: flex-end;
  }